<div class="outsidebox">
  <div class="listbox">
    <p class='list'>
        Your List<br>
        <hr class="line">
        <a href="/new"><button class="button" type="button" name="button">Add a Product</button></a>
    </p>
    <hr class="line">
    <table class="table table-striped">
      <thead>
        <tr class="tabb">
          <td class="tabb">
            Product Name
          </td class=>
          <td class="tabb">
            Quantity
          </td class=>
          <td class="tabb">
            Check it off
          </td class=>
        </tr>
      </thead>

      <% @products.each do |item| %>

      <tbody>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= form_for item, url: {action: 'delete'} do |f| %>
          <%= f.hidden_field :id %>
          <%= f.submit 'Delete' %>
          <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
    </table>

  </div>
</div>
